In [119]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Getting main dataset

In [120]:
# Main Train_dataset

In [121]:
df=pd.read_csv('/Users/archanavillalba/Data/Final_project/airbnb-recruiting-new-user-bookings/train_users_2.csv')

In [122]:
df.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213451 entries, 0 to 213450
Data columns (total 16 columns):
id                         213451 non-null object
date_account_created       213451 non-null object
timestamp_first_active     213451 non-null int64
date_first_booking         88908 non-null object
gender                     213451 non-null object
age                        125461 non-null float64
signup_method              213451 non-null object
signup_flow                213451 non-null int64
language                   213451 non-null object
affiliate_channel          213451 non-null object
affiliate_provider         213451 non-null object
first_affiliate_tracked    207386 non-null object
signup_app                 213451 non-null object
first_device_type          213451 non-null object
first_browser              213451 non-null object
country_destination        213451 non-null object
dtypes: float64(1), int64(2), object(13)
memory usage: 26.1+ MB

In [124]:
df.isna().sum()

id                              0
date_account_created            0
timestamp_first_active          0
date_first_booking         124543
gender                          0
age                         87990
signup_method                   0
signup_flow                     0
language                        0
affiliate_channel               0
affiliate_provider              0
first_affiliate_tracked      6065
signup_app                      0
first_device_type               0
first_browser                   0
country_destination             0
dtype: int64

In [125]:
df.drop('date_first_booking',axis=1,inplace=True)

In [126]:
df.rename(columns={'id':'user_id'},inplace=True)

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213451 entries, 0 to 213450
Data columns (total 15 columns):
user_id                    213451 non-null object
date_account_created       213451 non-null object
timestamp_first_active     213451 non-null int64
gender                     213451 non-null object
age                        125461 non-null float64
signup_method              213451 non-null object
signup_flow                213451 non-null int64
language                   213451 non-null object
affiliate_channel          213451 non-null object
affiliate_provider         213451 non-null object
first_affiliate_tracked    207386 non-null object
signup_app                 213451 non-null object
first_device_type          213451 non-null object
first_browser              213451 non-null object
country_destination        213451 non-null object
dtypes: float64(1), int64(2), object(12)
memory usage: 24.4+ MB

In [128]:
df.shape

(213451, 15)

In [129]:
df.rename({'id':'user_id'})

,user_id,date_account_created,timestamp_first_active,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,20091208061105,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213446,zxodksqpep,2014-06-30,20140630235636,MALE,32.0,basic,0,en,sem-brand,google,omg,Web,Mac Desktop,Safari,NDF
213447,mhewnxesx9,2014-06-30,20140630235719,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome,NDF
213448,6o3arsjbb4,2014-06-30,20140630235754,-unknown-,32.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,NDF
213449,jh95kwisub,2014-06-30,20140630235822,-unknown-,NaN,basic,25,en,other,other,tracked-other,iOS,iPhone,Mobile Safari,NDF
213450,nw9fwlyb5f,2014-06-30,20140630235824,-unknown-,NaN,basic,25,en,direct,direct,untracked,iOS,iPhone,-unknown-,NDF

In [77]:
#Test dataset

In [130]:
df_=pd.read_csv('/Users/archanavillalba/Data/Final_project/airbnb-recruiting-new-user-bookings/test_users.csv')

In [131]:
df_.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser
0,5uwns89zht,2014-07-01,20140701000006,NaN,FEMALE,35.0,facebook,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari
1,jtl0dijy2j,2014-07-01,20140701000051,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari
2,xx0ulgorjt,2014-07-01,20140701000148,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome
3,6c6puo6ix0,2014-07-01,20140701000215,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,IE
4,czqhjk3yfe,2014-07-01,20140701000305,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Safari

In [132]:
df_.shape

(62096, 15)

In [138]:
df_.rename(columns={'id':'user_id'},inplace=True)

In [ ]:
#Merging Train and test datasets

In [140]:
df_main=pd.concat([df, df_], ignore_index=True, sort=False)

In [141]:
df_main.shape

(275547, 16)

In [ ]:
    #Check if duplicates

In [142]:
df_main[df_main.duplicated(['user_id'])]

Empty DataFrame
Columns: [user_id, date_account_created, timestamp_first_active, gender, age, signup_method, signup_flow, language, affiliate_channel, affiliate_provider, first_affiliate_tracked, signup_app, first_device_type, first_browser, country_destination, date_first_booking]
Index: []

In [81]:
# Session dataset

In [144]:
df1=pd.read_csv('/Users/archanavillalba/Data/Final_project/airbnb-recruiting-new-user-bookings/sessions.csv')

In [145]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10567737 entries, 0 to 10567736
Data columns (total 6 columns):
user_id          object
action           object
action_type      object
action_detail    object
device_type      object
secs_elapsed     float64
dtypes: float64(1), object(5)
memory usage: 483.8+ MB

In [146]:
df1.head()

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319.0
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301.0
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141.0
4,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435.0

In [147]:
df1.action_type.value_counts()

view                3560902
data                2103770
click               1996183
-unknown-           1031170
submit               623357
message_post          87103
partner_callback      19132
booking_request       18773
modify                 1139
booking_response          4
Name: action_type, dtype: int64

In [148]:
df1.isna().sum()

user_id            34496
action             79626
action_type      1126204
action_detail    1126204
device_type            0
secs_elapsed      136031
dtype: int64

In [149]:
df1.dropna(subset=['user_id'],inplace=True)

In [150]:
df1.dropna(subset=['action_type'],inplace=True)

In [151]:
df1.dropna(subset=['action'],inplace=True)

In [152]:
df1.dropna(subset=['secs_elapsed'],inplace=True)

In [153]:
df1.shape

(9213930, 6)

In [154]:
grouped_df=df1.groupby('user_id').agg({'action': lambda x: x.mode(),'action_type':lambda x: x.mode(),'action_detail':lambda x: x.mode(),'device_type':lambda x: x.mode(),'secs_elapsed':'mean','user_id':len}).rename({'user_id':'nb_sessions'})
#grouped_df.columns=grouped_df.columns.droplevel(0)

In [155]:
grouped_df.rename({'user_id':'nb_sessions'},axis=1,inplace=True)

In [156]:
grouped_df.shape

(133878, 6)

In [157]:
grouped_df.head()

,action,action_type,action_detail,device_type,secs_elapsed,nb_sessions
user_id,,,,,,
00023iyk9l,show,view,p3,Mac Desktop,21060.057143,35
0010k6l0om,show,view,p3,Mac Desktop,12455.936170,47
001wyh0pz8,search,click,view_search_results,Android App Unknown Phone/Tablet,3308.916667,84
0028jgx1x1,show,view,"[p3, view_search_results]",-unknown-,9900.333333,30
002qnbzfs5,show,view,-unknown-,iPhone,5490.991489,705

In [158]:
grouped_df.to_csv('grouped_df.csv')

In [159]:
grouped_df.reset_index(inplace=True)

In [161]:
#df.join(grouped_df,on='user_id',how='inner')
df_final=pd.concat([df_main, grouped_df], axis=1, join='inner')

In [162]:
df_final.to_csv('df_final.csv')

# Data cleaning

In [163]:
df_final.head()

,user_id,date_account_created,timestamp_first_active,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,...,first_browser,country_destination,date_first_booking,user_id,action,action_type,action_detail,device_type,secs_elapsed,nb_sessions
0,gxn3p5htnn,2010-06-28,20090319043255,-unknown-,NaN,facebook,0,en,direct,direct,...,Chrome,NDF,NaN,00023iyk9l,show,view,p3,Mac Desktop,21060.057143,35
1,820tgsjxq7,2011-05-25,20090523174809,MALE,38.0,facebook,0,en,seo,google,...,Chrome,NDF,NaN,0010k6l0om,show,view,p3,Mac Desktop,12455.936170,47
2,4ft3gnwmtx,2010-09-28,20090609231247,FEMALE,56.0,basic,3,en,direct,direct,...,IE,US,NaN,001wyh0pz8,search,click,view_search_results,Android App Unknown Phone/Tablet,3308.916667,84
3,bjjt8pjhuk,2011-12-05,20091031060129,FEMALE,42.0,facebook,0,en,direct,direct,...,Firefox,other,NaN,0028jgx1x1,show,view,"[p3, view_search_results]",-unknown-,9900.333333,30
4,87mebub9p4,2010-09-14,20091208061105,-unknown-,41.0,basic,0,en,direct,direct,...,Chrome,US,NaN,002qnbzfs5,show,view,-unknown-,iPhone,5490.991489,705

In [164]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133878 entries, 0 to 133877
Data columns (total 23 columns):
user_id                    133878 non-null object
date_account_created       133878 non-null object
timestamp_first_active     133878 non-null int64
gender                     133878 non-null object
age                        81409 non-null float64
signup_method              133878 non-null object
signup_flow                133878 non-null int64
language                   133878 non-null object
affiliate_channel          133878 non-null object
affiliate_provider         133878 non-null object
first_affiliate_tracked    128699 non-null object
signup_app                 133878 non-null object
first_device_type          133878 non-null object
first_browser              133878 non-null object
country_destination        133878 non-null object
date_first_booking         0 non-null float64
user_id                    133878 non-null object
action                     133878 non-null object
action_type                133878 non-null object
action_detail              133878 non-null object
device_type                133878 non-null object
secs_elapsed               133878 non-null float64
nb_sessions                133878 non-null int64
dtypes: float64(3), int64(3), object(17)
memory usage: 23.5+ MB

In [168]:
df_final.isna().sum()

user_id                        0
date_account_created           0
timestamp_first_active         0
gender                         0
age                        52469
signup_method                  0
signup_flow                    0
language                       0
affiliate_channel              0
affiliate_provider             0
first_affiliate_tracked     5179
signup_app                     0
first_device_type              0
first_browser                  0
country_destination            0
user_id                        0
action                         0
action_type                    0
action_detail                  0
device_type                    0
secs_elapsed                   0
nb_sessions                    0
dtype: int64

In [166]:
df_final.drop('date_first_booking',axis=1,inplace=True)

In [167]:
df_final.first_affiliate_tracked.value_counts() # to drop as 54% unknown and the rest not understandable

untracked        66967
linked           31007
omg              24758
tracked-other     5143
product            789
marketing           26
local ops            9
Name: first_affiliate_tracked, dtype: int64

In [169]:
df_final.gender.value_counts() #40% unknown

-unknown-    54344
FEMALE       42904
MALE         36422
OTHER          208
Name: gender, dtype: int64

In [173]:
df_final.signup_flow.value_counts() #80% is 0 > col can be droped

0     105043
3       8822
2       6881
12      4945
25      3827
24      2056
1       1047
23       572
6        301
21       193
8        117
5         36
20        14
16        11
15        10
10         2
4          1
Name: signup_flow, dtype: int64

In [174]:
df_final.language.value_counts() #97% in English > col can be droped

en    129680
zh       831
fr       766
es       536
de       494
it       369
ko       343
ru       239
pt       139
ja       120
sv        77
nl        61
tr        46
da        40
pl        32
no        22
cs        20
el        14
hu        13
th        11
id        10
fi         8
ca         3
is         2
hr         2
Name: language, dtype: int64

In [175]:
df_final.affiliate_channel.value_counts() #to group seo,api, content and remarketing into other

direct           86666
sem-non-brand    13476
sem-brand        12946
other             8061
seo               5140
api               4945
content           2251
remarketing        393
Name: affiliate_channel, dtype: int64

In [176]:
df_final.affiliate_provider.value_counts() #to group into other all excerpt direct and google

direct                 86365
google                 29153
other                   8761
craigslist              3469
facebook                1565
bing                    1446
vast                     799
padmapper                591
facebook-open-graph      448
gsp                      417
yahoo                    397
meetup                   340
email-marketing           67
naver                     32
baidu                     16
wayn                       8
yandex                     4
Name: affiliate_provider, dtype: int64

In [177]:
df_final.signup_app.value_counts() #Web=> 92% to drop

Web        123032
iOS          5893
Moweb        3490
Android      1463
Name: signup_app, dtype: int64

In [178]:
df_final.first_device_type.value_counts()  #to group into other all excerpt direct and google

Mac Desktop           59953
Windows Desktop       48088
iPad                   8742
iPhone                 8193
Other/Unknown          6846
Android Phone           774
Desktop (Other)         676
Android Tablet          560
SmartPhone (Other)       46
Name: first_device_type, dtype: int64

In [179]:
df_final.first_browser.value_counts()  #to group into other all excerpt direct and google

Chrome                  39931
Safari                  30123
Firefox                 24117
IE                      14403
-unknown-               12767
Mobile Safari           10826
Android Browser           535
Chrome Mobile             435
AOL Explorer              210
Opera                     126
Silk                       70
Chromium                   47
BlackBerry Browser         43
Maxthon                    30
RockMelt                   23
Apple Mail                 21
Sogou Explorer             20
IE Mobile                  16
SiteKiosk                  14
Iron                       14
CometBird                  11
Mobile Firefox             11
SeaMonkey                  10
Pale Moon                   9
Camino                      9
IceWeasel                   8
TenFourFox                  7
wOSBrowser                  5
CoolNovo                    4
Avant Browser               3
Yandex.Browser              3
Opera Mini                  3
OmniWeb                     2
Crazy Browser               2
Flock                       2
Comodo Dragon               2
Opera Mobile                2
SlimBrowser                 2
Mozilla                     2
Epic                        1
Stainless                   1
Kindle Browser              1
TheWorld Browser            1
NetNewsWire                 1
Arora                       1
Google Earth                1
PS Vita browser             1
Palm Pre web browser        1
Conkeror                    1
Name: first_browser, dtype: int64

In [ ]:
df_final.country_destination.value_counts()

In [ ]:
df_final.action.value_counts()

columns to drop:
    - first_affiliate_tracked
    - signup_flow
    - language
    - signup_app
    - signup_app